.adminRouterContainer {
  display: grid;
  height: 100%;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "adminLateralMenu adminTopMenu"
    "adminLateralMenu appContainer";
}
