* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  scroll-behavior: smooth;
  color: #212529;
}

.text-main {
  color: #212529;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

.gap-xs {
  gap: 0.3rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.selectedRow {
  border: 1px solid #ff7700ad !important;
  background-color: #ff16372e !important;
}

.sweetBorderRadius {
  border-radius: 5px;
}

.smallImgToUpload {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
