.lateralMenuContainer {
  width: 250px;
  height: 100vh;
  background-color: whitesmoke;
  color: #333;
  border-right: 0.5px solid #a79e9e91;
  .list-group-item:first-child {
    border-top: 0.5px solid #a79e9e91;
  }
  .list-group-item {
    background-color: transparent;
    color: #333;
    border-bottom: 0.5px solid #a79e9e91;
    border-radius: 0;
    cursor: pointer;
    transition: all 300ms;
    a {
      color: #333;
      padding-left: 0.5rem;
    }
  }
  .list-group-item:hover {
    background-color: darken(#fff, 30%);
    transition: all 300ms;
  }
}
