.lateralMenuContainer {
  width: 250px;
  height: 100vh;
  background-color: #0005ffcf;
  color: white;
  .list-group-item:first-child {
    border-top: 0.5px solid #fff;
  }
  .list-group-item {
    background-color: transparent;
    color: white;
    border-bottom: 0.5px solid #fff;
    border-radius: 0;
    cursor: pointer;
    transition: all 300ms;
    a {
      color: white;
      padding-left: 0.5rem;
    }
  }
  .list-group-item:hover {
    background-color: darken(#0005ffcf, 30%);
    transition: all 300ms;
  }
}
